In [43]:
import pandas as pd 
import numpy as np

In [91]:
movies = pd.read_csv('imdb-1.csv')
movies

       Votes  Rating                                  Title  Year  Decade
0      88355     8.4                                      M  1931    1930
1     132823     8.3                    Singin' in the Rain  1952    1950
2      74178     8.3                          All About Eve  1950    1950
3     635139     8.6                                   Léon  1994    1990
4     145514     8.2                       The Elephant Man  1980    1980
..       ...     ...                                    ...   ...     ...
245  1078416     8.7                           Forrest Gump  1994    1990
246    31003     8.1                  Le salaire de la peur  1953    1950
247   167076     8.2                               3 Idiots  2009    2000
248    91689     8.1                                Network  1976    1970
249   589477     8.3  Eternal Sunshine of the Spotless Mind  2004    2000

[250 rows x 5 columns]

In [64]:
max_rating = movies['Rating'].max()
max_rating

9.2

In [77]:
early_year = movies['Year'].min()
early_movie = movies[movies['Year']==early_year]['Title']

print(f"The earliest movie in the database is \"{early_movie.iloc[0]}\" which was "
f"made in {earliest_year[0]}")

The earliest movie in the database is "The Kid" which was made in 1921

In [100]:
ratings_sort = movies.sort_values(by='Rating', ascending=False)

ratings_sort.head(20)

,Votes,Rating,Title,Year,Decade
22,1027398,9.2,The Godfather,1972,1970
53,1498733,9.2,The Shawshank Redemption,1994,1990
91,692753,9.0,The Godfather: Part II,1974,1970
105,384187,8.9,12 Angry Men,1957,1950
57,447875,8.9,"Il buono, il brutto, il cattivo (1966)",1966,1960
76,1473049,8.9,The Dark Knight,2008,2000
147,761224,8.9,Schindler's List,1993,1990
141,1074146,8.9,The Lord of the Rings: The Return of the King,2003,2000
224,1166532,8.9,Pulp Fiction,1994,1990
178,1099087,8.8,The Lord of the Rings: The Fellowship of the Ring,2001,2000
87,1177098,8.8,Fight Club,1999,1990
129,1073043,8.7,The Matrix,1999,1990
68,967389,8.7,The Lord of the Rings: The Two Towers,2002,2000
156,700283,8.7,Star Wars: Episode V - The Empire Strikes Back,1980,1980
189,770011,8.7,Star Wars,1977,1970
223,606395,8.7,One Flew Over the Cuckoo's Nest,1975,1970
81,1271949,8.7,Inception,2010,2010
103,644556,8.7,Goodfellas,1990,1990
98,206216,8.7,Shichinin no samurai,1954,1950
245,1078416,8.7,Forrest Gump,1994,1990

In [111]:
dec_40 = movies[movies['Decade']==1940]
round(dec_40['Year'].mean())

1944

In [112]:
ninety_nine = movies.loc[movies['Year']==1999]
ninety_nine

       Votes  Rating            Title  Year  Decade
87   1177098     8.8       Fight Club  1999    1990
104   735056     8.4  American Beauty  1999    1990
115   630994     8.1  The Sixth Sense  1999    1990
129  1073043     8.7       The Matrix  1999    1990
149   672878     8.5   The Green Mile  1999    1990

In [114]:
really_highly_rated = movies.loc[movies['Rating'] > 8.5]
really_highly_rated

,Votes,Rating,Title,Year,Decade
3,635139,8.6,Léon,1994,1990
22,1027398,9.2,The Godfather,1972,1970
47,767224,8.6,The Silence of the Lambs,1991,1990
53,1498733,9.2,The Shawshank Redemption,1994,1990
57,447875,8.9,"Il buono, il brutto, il cattivo (1966)",1966,1960
68,967389,8.7,The Lord of the Rings: The Two Towers,2002,2000
70,689541,8.6,Interstellar,2014,2010
76,1473049,8.9,The Dark Knight,2008,2000
78,192206,8.6,C'era una volta il West,1968,1960
81,1271949,8.7,Inception,2010,2010
87,1177098,8.8,Fight Club,1999,1990
91,692753,9.0,The Godfather: Part II,1974,1970
96,656756,8.6,The Usual Suspects,1995,1990
98,206216,8.7,Shichinin no samurai,1954,1950
103,644556,8.7,Goodfellas,1990,1990
105,384187,8.9,12 Angry Men,1957,1950
129,1073043,8.7,The Matrix,1999,1990
141,1074146,8.9,The Lord of the Rings: The Return of the King,2003,2000
147,761224,8.9,Schindler's List,1993,1990
156,700283,8.7,Star Wars: Episode V - The Empire Strikes Back,1980,1980
169,895411,8.6,Se7en,1995,1990
178,1099087,8.8,The Lord of the Rings: The Fellowship of the Ring,2001,2000
189,770011,8.7,Star Wars,1977,1970
204,358305,8.6,La vita è bella,1997,1990
213,242353,8.6,It's a Wonderful Life,1946,1940
223,606395,8.7,One Flew Over the Cuckoo's Nest,1975,1970
224,1166532,8.9,Pulp Fiction,1994,1990
242,476501,8.6,Cidade de Deus,2002,2000
245,1078416,8.7,Forrest Gump,1994,1990

In [138]:
before_2000 = movies[movies['Decade'] < 2000]
after_2000 = movies[movies['Decade'] >= 2000]
avg_before_2000 = round(before_2000['Rating'].mean(), 2)
avg_after_2000 = round(after_2000['Rating'].mean(), 2)

print(f"""The average rating of movies made before 2000 is {avg_before_2000},
and the average rating of movies after 2000 is {avg_after_2000}. """)

The average rating of movies made before 2000 is 8.28,
and the average rating of movies after 2000 is 8.24.

In [143]:
count_before_2000 = before_2000.shape[0]
count_after_2000 = after_2000.shape[0]

proportion_20th = (count_before_2000 / movies.shape[0]) * 100
proportion_21st = (count_after_2000 / movies.shape[0]) * 100

print(f"The proportion of movies in the 20th century is {proportion_20th}%,"
     f"and the proportion of movies in the 21st century is {proportion_21st}%.")

The proportion of movies in the 20th century is 68.4%,and the proportion of movies in the 21st century is 31.6%.